ApplicationServiceStagiaire/PresentationStagiaire/Service References/ServiceStagiaire/Core.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Core" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Core" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ResponseDataOfArrayOfStagiaireDTOT2tRyUvb">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseDataOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Core" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfStagiaireDTO" Namespace="http://schemas.datacontract.org/2004/07/Core" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element minOccurs="0" name="Data" nillable="true" type="tns:ArrayOfStagiaireDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseDataOfArrayOfStagiaireDTOT2tRyUvb" nillable="true" type="tns:ResponseDataOfArrayOfStagiaireDTOT2tRyUvb" />
  <xs:complexType name="Response">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsSucces" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Response" nillable="true" type="tns:Response" />
  <xs:complexType name="ArrayOfStagiaireDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StagiaireDTO" nillable="true" type="tns:StagiaireDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStagiaireDTO" nillable="true" type="tns:ArrayOfStagiaireDTO" />
  <xs:complexType name="StagiaireDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adresse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Age" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CodePostal" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prenom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sexe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ville" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StagiaireDTO" nillable="true" type="tns:StagiaireDTO" />
  <xs:complexType name="ResponseDataOfboolean">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseDataOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Core" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element minOccurs="0" name="Data" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseDataOfboolean" nillable="true" type="tns:ResponseDataOfboolean" />
  <xs:complexType name="ResponseDataOfStagiaireDTOT2tRyUvb">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseDataOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Core" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="StagiaireDTO" Namespace="http://schemas.datacontract.org/2004/07/Core" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element minOccurs="0" name="Data" nillable="true" type="tns:StagiaireDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseDataOfStagiaireDTOT2tRyUvb" nillable="true" type="tns:ResponseDataOfStagiaireDTOT2tRyUvb" />
  <xs:complexType name="ResponseDataOfArrayOfTuteurDTOT2tRyUvb">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseDataOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Core" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfTuteurDTO" Namespace="http://schemas.datacontract.org/2004/07/Core" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element minOccurs="0" name="Data" nillable="true" type="tns:ArrayOfTuteurDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseDataOfArrayOfTuteurDTOT2tRyUvb" nillable="true" type="tns:ResponseDataOfArrayOfTuteurDTOT2tRyUvb" />
  <xs:complexType name="ArrayOfTuteurDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TuteurDTO" nillable="true" type="tns:TuteurDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTuteurDTO" nillable="true" type="tns:ArrayOfTuteurDTO" />
  <xs:complexType name="TuteurDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adresse" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CodePostal" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prenom" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telephone" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TuteurDTO" nillable="true" type="tns:TuteurDTO" />
  <xs:complexType name="ResponseDataOfTuteurDTOT2tRyUvb">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseDataOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Core" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="TuteurDTO" Namespace="http://schemas.datacontract.org/2004/07/Core" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Response">
        <xs:sequence>
          <xs:element minOccurs="0" name="Data" nillable="true" type="tns:TuteurDTO" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseDataOfTuteurDTOT2tRyUvb" nillable="true" type="tns:ResponseDataOfTuteurDTOT2tRyUvb" />
</xs:schema>