ApplicationServiceStagiaire/PresentationStagiaire/Service References/ServiceStagiaire/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Core" />
  <xs:element name="ListAllStagiaire">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListAllStagiaireResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Core" minOccurs="0" name="ListAllStagiaireResult" nillable="true" type="q1:ResponseDataOfArrayOfStagiaireDTOT2tRyUvb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStagiaire">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Core" minOccurs="0" name="stagiaireToDelete" nillable="true" type="q2:StagiaireDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteStagiaireResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Core" minOccurs="0" name="DeleteStagiaireResult" nillable="true" type="q3:ResponseDataOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExistingStagiaire">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Core" minOccurs="0" name="stagiaireToUpdate" nillable="true" type="q4:StagiaireDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExistingStagiaireResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Core" minOccurs="0" name="UpdateExistingStagiaireResult" nillable="true" type="q5:ResponseDataOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStagiaire">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Core" minOccurs="0" name="stagiaireToAdd" nillable="true" type="q6:StagiaireDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStagiaireResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Core" minOccurs="0" name="AddStagiaireResult" nillable="true" type="q7:ResponseDataOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>