ApplicationServiceStagiaire/PresentationStagiaire/Service References/ServiceStagiaire/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceStagiaire" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Core" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceStagiaire_ListAllStagiaire_InputMessage">
    <wsdl:part name="parameters" element="tns:ListAllStagiaire" />
  </wsdl:message>
  <wsdl:message name="IServiceStagiaire_ListAllStagiaire_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListAllStagiaireResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceStagiaire_DeleteStagiaire_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStagiaire" />
  </wsdl:message>
  <wsdl:message name="IServiceStagiaire_DeleteStagiaire_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStagiaireResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceStagiaire_UpdateExistingStagiaire_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExistingStagiaire" />
  </wsdl:message>
  <wsdl:message name="IServiceStagiaire_UpdateExistingStagiaire_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExistingStagiaireResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceStagiaire_AddStagiaire_InputMessage">
    <wsdl:part name="parameters" element="tns:AddStagiaire" />
  </wsdl:message>
  <wsdl:message name="IServiceStagiaire_AddStagiaire_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddStagiaireResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceStagiaire">
    <wsdl:operation name="ListAllStagiaire">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceStagiaire/ListAllStagiaire" message="tns:IServiceStagiaire_ListAllStagiaire_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceStagiaire/ListAllStagiaireResponse" message="tns:IServiceStagiaire_ListAllStagiaire_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStagiaire">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceStagiaire/DeleteStagiaire" message="tns:IServiceStagiaire_DeleteStagiaire_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceStagiaire/DeleteStagiaireResponse" message="tns:IServiceStagiaire_DeleteStagiaire_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateExistingStagiaire">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceStagiaire/UpdateExistingStagiaire" message="tns:IServiceStagiaire_UpdateExistingStagiaire_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceStagiaire/UpdateExistingStagiaireResponse" message="tns:IServiceStagiaire_UpdateExistingStagiaire_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddStagiaire">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceStagiaire/AddStagiaire" message="tns:IServiceStagiaire_AddStagiaire_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceStagiaire/AddStagiaireResponse" message="tns:IServiceStagiaire_AddStagiaire_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceStagiaire" type="tns:IServiceStagiaire">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListAllStagiaire">
      <soap:operation soapAction="http://tempuri.org/IServiceStagiaire/ListAllStagiaire" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStagiaire">
      <soap:operation soapAction="http://tempuri.org/IServiceStagiaire/DeleteStagiaire" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateExistingStagiaire">
      <soap:operation soapAction="http://tempuri.org/IServiceStagiaire/UpdateExistingStagiaire" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStagiaire">
      <soap:operation soapAction="http://tempuri.org/IServiceStagiaire/AddStagiaire" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceStagiaire">
    <wsdl:port name="BasicHttpBinding_IServiceStagiaire" binding="tns:BasicHttpBinding_IServiceStagiaire">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ServiceAppStagiaire/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>