ApplicationServiceStagiaire/PresentationStagiaire/Service References/ServiceStagiaire/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceStagiaire" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Core" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceStagiaire_ListAllStagiaire_InputMessage">
    <wsdl:part name="parameters" element="tns:ListAllStagiaire" />
  </wsdl:message>
  <wsdl:message name="IServiceStagiaire_ListAllStagiaire_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListAllStagiaireResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceStagiaire_DeleteStagiaire_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStagiaire" />
  </wsdl:message>
  <wsdl:message name="IServiceStagiaire_DeleteStagiaire_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStagiaireResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceStagiaire_GetStagiaireById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStagiaireById" />
  </wsdl:message>
  <wsdl:message name="IServiceStagiaire_GetStagiaireById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStagiaireByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceStagiaire_UpdateExistingStagiaire_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExistingStagiaire" />
  </wsdl:message>
  <wsdl:message name="IServiceStagiaire_UpdateExistingStagiaire_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExistingStagiaireResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceStagiaire_AddStagiaire_InputMessage">
    <wsdl:part name="parameters" element="tns:AddStagiaire" />
  </wsdl:message>
  <wsdl:message name="IServiceStagiaire_AddStagiaire_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddStagiaireResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceStagiaire_ListAllTuteur_InputMessage">
    <wsdl:part name="parameters" element="tns:ListAllTuteur" />
  </wsdl:message>
  <wsdl:message name="IServiceStagiaire_ListAllTuteur_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListAllTuteurResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceStagiaire_DeleteTuteur_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTuteur" />
  </wsdl:message>
  <wsdl:message name="IServiceStagiaire_DeleteTuteur_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTuteurResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceStagiaire_GetTuteurById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTuteurById" />
  </wsdl:message>
  <wsdl:message name="IServiceStagiaire_GetTuteurById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTuteurByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceStagiaire_UpdateExistingTuteur_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExistingTuteur" />
  </wsdl:message>
  <wsdl:message name="IServiceStagiaire_UpdateExistingTuteur_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExistingTuteurResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceStagiaire_AddTuteur_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTuteur" />
  </wsdl:message>
  <wsdl:message name="IServiceStagiaire_AddTuteur_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTuteurResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceStagiaire_AddStagiaireToTuteur_InputMessage">
    <wsdl:part name="parameters" element="tns:AddStagiaireToTuteur" />
  </wsdl:message>
  <wsdl:message name="IServiceStagiaire_AddStagiaireToTuteur_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddStagiaireToTuteurResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceStagiaire_DeleteStagiaireOfTuteur_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStagiaireOfTuteur" />
  </wsdl:message>
  <wsdl:message name="IServiceStagiaire_DeleteStagiaireOfTuteur_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStagiaireOfTuteurResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceStagiaire_ListStagiaireOfTuteur_InputMessage">
    <wsdl:part name="parameters" element="tns:ListStagiaireOfTuteur" />
  </wsdl:message>
  <wsdl:message name="IServiceStagiaire_ListStagiaireOfTuteur_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListStagiaireOfTuteurResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceStagiaire">
    <wsdl:operation name="ListAllStagiaire">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceStagiaire/ListAllStagiaire" message="tns:IServiceStagiaire_ListAllStagiaire_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceStagiaire/ListAllStagiaireResponse" message="tns:IServiceStagiaire_ListAllStagiaire_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStagiaire">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceStagiaire/DeleteStagiaire" message="tns:IServiceStagiaire_DeleteStagiaire_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceStagiaire/DeleteStagiaireResponse" message="tns:IServiceStagiaire_DeleteStagiaire_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStagiaireById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceStagiaire/GetStagiaireById" message="tns:IServiceStagiaire_GetStagiaireById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceStagiaire/GetStagiaireByIdResponse" message="tns:IServiceStagiaire_GetStagiaireById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateExistingStagiaire">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceStagiaire/UpdateExistingStagiaire" message="tns:IServiceStagiaire_UpdateExistingStagiaire_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceStagiaire/UpdateExistingStagiaireResponse" message="tns:IServiceStagiaire_UpdateExistingStagiaire_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddStagiaire">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceStagiaire/AddStagiaire" message="tns:IServiceStagiaire_AddStagiaire_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceStagiaire/AddStagiaireResponse" message="tns:IServiceStagiaire_AddStagiaire_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListAllTuteur">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceStagiaire/ListAllTuteur" message="tns:IServiceStagiaire_ListAllTuteur_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceStagiaire/ListAllTuteurResponse" message="tns:IServiceStagiaire_ListAllTuteur_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTuteur">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceStagiaire/DeleteTuteur" message="tns:IServiceStagiaire_DeleteTuteur_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceStagiaire/DeleteTuteurResponse" message="tns:IServiceStagiaire_DeleteTuteur_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTuteurById">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceStagiaire/GetTuteurById" message="tns:IServiceStagiaire_GetTuteurById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceStagiaire/GetTuteurByIdResponse" message="tns:IServiceStagiaire_GetTuteurById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateExistingTuteur">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceStagiaire/UpdateExistingTuteur" message="tns:IServiceStagiaire_UpdateExistingTuteur_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceStagiaire/UpdateExistingTuteurResponse" message="tns:IServiceStagiaire_UpdateExistingTuteur_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTuteur">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceStagiaire/AddTuteur" message="tns:IServiceStagiaire_AddTuteur_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceStagiaire/AddTuteurResponse" message="tns:IServiceStagiaire_AddTuteur_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddStagiaireToTuteur">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceStagiaire/AddStagiaireToTuteur" message="tns:IServiceStagiaire_AddStagiaireToTuteur_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceStagiaire/AddStagiaireToTuteurResponse" message="tns:IServiceStagiaire_AddStagiaireToTuteur_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStagiaireOfTuteur">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceStagiaire/DeleteStagiaireOfTuteur" message="tns:IServiceStagiaire_DeleteStagiaireOfTuteur_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceStagiaire/DeleteStagiaireOfTuteurResponse" message="tns:IServiceStagiaire_DeleteStagiaireOfTuteur_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListStagiaireOfTuteur">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceStagiaire/ListStagiaireOfTuteur" message="tns:IServiceStagiaire_ListStagiaireOfTuteur_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceStagiaire/ListStagiaireOfTuteurResponse" message="tns:IServiceStagiaire_ListStagiaireOfTuteur_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceStagiaire" type="tns:IServiceStagiaire">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListAllStagiaire">
      <soap:operation soapAction="http://tempuri.org/IServiceStagiaire/ListAllStagiaire" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStagiaire">
      <soap:operation soapAction="http://tempuri.org/IServiceStagiaire/DeleteStagiaire" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStagiaireById">
      <soap:operation soapAction="http://tempuri.org/IServiceStagiaire/GetStagiaireById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateExistingStagiaire">
      <soap:operation soapAction="http://tempuri.org/IServiceStagiaire/UpdateExistingStagiaire" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStagiaire">
      <soap:operation soapAction="http://tempuri.org/IServiceStagiaire/AddStagiaire" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListAllTuteur">
      <soap:operation soapAction="http://tempuri.org/IServiceStagiaire/ListAllTuteur" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTuteur">
      <soap:operation soapAction="http://tempuri.org/IServiceStagiaire/DeleteTuteur" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTuteurById">
      <soap:operation soapAction="http://tempuri.org/IServiceStagiaire/GetTuteurById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateExistingTuteur">
      <soap:operation soapAction="http://tempuri.org/IServiceStagiaire/UpdateExistingTuteur" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTuteur">
      <soap:operation soapAction="http://tempuri.org/IServiceStagiaire/AddTuteur" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStagiaireToTuteur">
      <soap:operation soapAction="http://tempuri.org/IServiceStagiaire/AddStagiaireToTuteur" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStagiaireOfTuteur">
      <soap:operation soapAction="http://tempuri.org/IServiceStagiaire/DeleteStagiaireOfTuteur" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListStagiaireOfTuteur">
      <soap:operation soapAction="http://tempuri.org/IServiceStagiaire/ListStagiaireOfTuteur" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceStagiaire">
    <wsdl:port name="BasicHttpBinding_IServiceStagiaire" binding="tns:BasicHttpBinding_IServiceStagiaire">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ServiceAppStagiaire/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>